<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89634379752-5pd5hs7lb299v1p39gunok0oucein3jp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89634379752-5pd5hs7lb299v1p39gunok0oucein3jp</string>
	<key>API_KEY</key>
	<string>AIzaSyBO0s5AC7MH2fW0oXprDOJ4y5WgYgEFqkw</string>
	<key>GCM_SENDER_ID</key>
	<string>89634379752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.acitmmm.tapadacommunity</string>
	<key>PROJECT_ID</key>
	<string>tapadacommunity</string>
	<key>STORAGE_BUCKET</key>
	<string>tapadacommunity.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89634379752:ios:fd9dda0356c904d5fe365d</string>
</dict>
</plist>